NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STAKD_ACCESS_ADMIN_EMAILS=joe@stakdaz.com

RESEND_API_KEY=
CONCERNS_FROM_EMAIL=STAKD Portal <no-reply@stakdaz.com>

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_REFRESH_TOKEN=
GOOGLE_DRIVE_QUOTING_PARENT_ID=
GOOGLE_DRIVE_CURRENT_PARENT_ID=
GOOGLE_DRIVE_ARCHIVED_PARENT_ID=
GOOGLE_DRIVE_ARCHIVED_LOST_PARENT_ID=
GOOGLE_DRIVE_ARCHIVED_COMPLETED_PARENT_ID=
GOOGLE_DRIVE_TEMPLATE_ROOT_ID=
